<div class="menu-wrap">
  <h1 class="logo">
    {{#link-to 'home'}}CRITICarq.gt{{/link-to}}
  </h1>
  <h2 class="sub-title">
    Conectando los puntos entre la arquitectura a nivel académico, iniciativa privada y pública.
  </h2>

  <nav class="{{if isMobileOpen 'open-mobile animated' 'closed-mobile'}} {{if header.home 'home'}}">
    {{#each categories as |category|}}
      {{#if media.isDesktop}}
        {{#link-to 'articles.category' category.slug activeClass=category.slug class=(category-class category.slug)}}
          {{category.name}}
        {{/link-to}}
      {{else}}
        <span {{action 'toggleNav'}}>
          {{#link-to 'articles.category' category.slug activeClass=category.slug class=(category-class category.slug)}}
            {{category.name}}
          {{/link-to}}
        </span>
      {{/if}}
    {{/each}}

    {{#if media.isDesktop}}
      {{#link-to 'events' activeClass='eventos' class=(category-class 'eventos')}}
        Eventos
      {{/link-to}}
    {{else}}
      <span {{action 'toggleNav'}}>
        {{#link-to 'events' activeClass='eventos' class=(category-class 'eventos')}}
          Eventos
        {{/link-to}}
      </span>
    {{/if}}


    <div class="global-social">
      <a href="https://www.facebook.com/criticarq/" target="_blank">
        <i class="fa fa-facebook"></i>
        <span class="social-label">Facebook</span>
      </a>
      <a href="https://www.instagram.com/criticarq.gt/" target="_blank">
        <i class="fa fa-instagram"></i>
        <span class="social-label">Instagram</span>
      </a>
    </div>
  </nav>

  <button class="hamburger hamburger--collapse {{if isMobileOpen 'is-active'}}" type="button" {{action (action 'toggleNav')}}>
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>
