<div class="image-preview" style="{{background-image (if useLargeImage article.featured.large.url article.featured.medium.url)}}">
  <img src="{{article.featured.medium.url}}" alt="{{article.title}}" />
</div>
<h3 class="article-title">
  {{#if isEvent}}
    {{#link-to 'events.event' article.slug}}
      <strong>{{article.title}}</strong>
    {{/link-to}}
  {{else}}
    {{#link-to 'articles.category.article' category.slug article.slug}}
      <strong>{{article.title}}</strong>
    {{/link-to}}
  {{/if}}
</h3>
{{#unless noContributor}}
<h4 class="article-author">
  {{contributors-names article.contributors}}
</h4>
{{/unless}}

{{#if hasBlock}}
  <p class="excerpt">
    {{yield}}
  </p>
{{else}}
  <p class="excerpt add-fade">
    {{{article.excerpt}}}
  </p>
{{/if}}
