<header>
  <img src="{{article.featured.url}}" alt="{{article.title}}" />
</header>

<article class="article-read">
  {{#unless preview}}
    {{category-label category=category isEvent=isEvent}}
  {{/unless}}
  <h2 class="article-title">
    {{#if isEvent}}
      {{#link-to 'events.event' article.slug}}
        {{article.title}}
      {{/link-to}}
    {{else}}
      {{#link-to 'articles.category.article' article.slug}}
        {{article.title}}
      {{/link-to}}
    {{/if}}
  </h2>
  <h3 class='article-author'>
    {{contributors-names article.contributors}}
  </h3>
  <div class="article-intro">
    {{{article.excerpt}}}
  </div>
  {{#unless preview}}
    {{social-widget text=article.socialText image=article.featured.url}}
    <div class="article-content">
      {{{article.content}}}
    </div>
    {{social-widget text=article.socialText image=article.featured.url}}
  {{/unless}}

  {{#if preview}}
    {{#link-to 'articles.category.article' article.slug class="read-more"}}
      Seguir leyendo &raquo;
    {{/link-to}}
  {{/if}}
</article>
