{{title model.article.title}}

{{article-single article=model.article category=model.category}}

{{#each model.article.contributors as |contributor|}}
  {{contributor-bio contributor=contributor}}
{{/each}}

<section class="article-comments">
  <div class="article-disquss">
    <h2>Únete a la discusión</h2>
    {{disqus-comments identifier=model.article.slug}}
  </div>
</section>

<section class="suggested-articles">
  <div class="articles-tiles-grid">
    {{#each model.article.related as |article|}}
      {{article-tile article=article}}
    {{/each}}
  </div>
</section>
