{{title model.article.title}}

{{article-single article=model.article category=model.category}}

{{#each model.article.contributors as |contributor|}}
  {{contributor-bio contributor=contributor}}
{{/each}}

<section class="article-comments">
  <div class="article-disquss">
    <h2>Únete a la discusión</h2>
    {{disqus-comments identifier=model.article.slug}}
  </div>
</section>

{{#unless fastboot.isFastBoot}}
<section class="suggested-articles">
  <div class="articles-tiles-grid">
    {{#each model.article.related as |article|}}
      {{article-tile
          article=article
          noContributor=true
          category=article.categories.firstObject
          class=(category-class article.categories.firstObject.slug)
      }}
    {{/each}}
  </div>
</section>
{{/unless}}
