{{title 'CRITICarq' prepend=true separator=" \ "}}

{{app-nav fixed=true categories=model.categories useHomeNav=useHomeNav}}

{{outlet}}

<footer class="site-footer">
  <nav>
    {{#link-to 'home'}}
      Inicio
    {{/link-to}}
    {{#each model.categories as |category|}}
      {{#link-to 'articles.category' category.slug activeClass=category.slug}}
        {{category.name}}
      {{/link-to}}
    {{/each}}
  </nav>
  <p class="copyright">
    &copy; 2016 CRITICarq.gt
  </p>
</footer>

{{ember-load-remover}}
