<div class="articles-tiles-grid home-tiles">
  {{#swiper-container pagination=true}}
    {{#each model.featured as |article|}}
      {{#with article.categories.firstObject as |category|}}
        {{#swiper-slide}}
          <div class="article-tile {{category-class article.categories.firstObject.slug}}"
            {{action (transition-to 'articles.category.article' category.slug article.slug) on="click"}}
          >
            <div
              class="image-preview"
              style="{{background-image (if useLargeImage article.featured.large.url article.featured.medium.url)}}"
            >
              <img src="{{article.featured.medium.url}}" alt="{{article.title}}" />
            </div>
            <div class="article-wrap">
              <h3 class="article-title">
                {{#link-to 'articles.category.article' category.slug article.slug}}
                  <strong>{{article.title}}</strong>
                {{/link-to}}
              </h3>
              {{#unless noContributor}}
              <h4 class="article-author">
                {{contributors-names article.contributors}}
              </h4>
              {{/unless}}
            </div>
          </div>
        {{/swiper-slide}}
      {{/with}}
    {{/each}}
  {{/swiper-container}}
</div>

<h2 class="section-title">Para leer, pensar y criticar</h2>
<br>
<section class="category-index">
  {{#infinite-scroller on-load-more=(perform loadMore) use-document=true trigger-at='70%'}}
    <div class="articles-tiles-grid">
      {{#each model.articles as |article|}}
        {{#unless (in-home article.tags)}}
          {{article-tile
              article=article
              category=article.categories.firstObject
              class=(category-class article.categories.firstObject.slug)
              onClick=(transition-to 'articles.category.article' article.categories.firstObject.slug article.slug)
          }}
        {{/unless}}
      {{/each}}
    </div>

    {{#unless loadMore.isIdle}}
      <div class="loading-posts">
        <span class="signal-loader"></span>
      </div>
    {{/unless}}
  {{/infinite-scroller}}
</section>
